* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
    color: #573A37;
    line-height: 150%;
}

h1 {
    font-size: 40px;
    line-height: 140%;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

body {
    margin: 54px;
    background-image: url("../assets/bg-img.jpg");
    background-size: cover;
}

.container {
    height: 80%;
    width: 800px;
    margin: 48px auto;
    padding: 24px;
    border-radius: 24px;
    background-color: #F0E8C2;
}

.page img {
    border-radius: 16px;
}

.main {
    padding: 24px 24px;
}

.list {
    padding: 4px 20px 0;
}

#credits p {
    text-align: center;
    color: #F0E8C2;
}

#credits img {
    vertical-align: middle;
}